
body{
    background-color:rgb(251,51,51);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color:#FA7070;
}
.datos{ 
    font-size: 34px;
    font-family: 'Nunito', sans-serif;

}
img{ align-items: left;
    float: left;
    margin-left: 24px;
    box-shadow: 2px, 4px;
    


}
li>a{
    text-decoration: none;
    color: black;
}
header{
    background-color: white;
    height: 35px;
    width: 1365px;
    margin: 0%;
    padding: 0%;
    text-align: center;
    line-height: normal;
}

a:hover{
    color: white;
    text-decoration: none;

}
.tit{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.article{
    margin-top: 20px;
    
}
.ulc{
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    margin: 1%;
    padding: 1%;
    list-style: none;
}

.mail{
    display:inline-block;margin-right:10px;
    font-family: 'Barlow', sans-serif;
}
.fa-solid .fa-envelopes-bulk{
    font-weight: 1000px;  
    display:inline-block;margin-right:10px;
}
span{
    text-decoration: underline;
    
    
}
.pie{
    background-color: white;
    text-align: end;
}
.menu2{
    font-family: 'Barlow', sans-serif;
}
.h2c{
    font-family: 'Barlow', sans-serif;
}
#alva{
    text-align: center;
}
.alvaw{
display:block;
margin: auto;
}
.fce{
    color: black;
    text-decoration: underline;
}