
body{
    background-color:rgb(251,51,51);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color:#FA7070;
}
.datos{ 
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    color: #141414;
}
img{ align-items: left;
    float: left;
    margin-left: 24px;
    box-shadow: 2px, 4px;
}
li>a{
    text-decoration: none;
    color: black;
}
header{
    background-color: white;
    height: 35px;
    width: 1365px;
    margin: 0%;
    padding: 0%;
    text-align: center;
    line-height: normal;
}
a:hover{
    color: white;
    text-decoration: none;

}
.tit{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.article{
    margin-top: 0px;
   text-align: center;
}
.ulc{
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    margin: 1%;
    padding: 1%;
    list-style: none;
}
.mail{
    display:inline-block;margin-right:10px;
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
}
.fa-solid .fa-envelopes-bulk{
    font-weight: 1000px;  
    display:inline-block;margin-right:10px;
}
span{
    text-decoration: underline;
}
.pie{
    background-color: white;
    text-align: end;
}
.menu2{
    font-family: 'Barlow', sans-serif;
}
.h2c{
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
}
#alva{
   text-align: center;
   font-size: 30px;
}

.fce{
    color: black;
    text-decoration: underline;
}
.foto{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top:10px;
  padding-bottom:0px
}
.trabajo>h2{
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;;
}
.trabajo>ul{
    font-size: 25px;
    font-family:'Montserrat', sans-serif;;
}
@media screen and (max-width:1024px) and (min-width:800px){
    
}
@media screen and (max-width:800px) and (min-width:480px){
    .datos{
        font-size: 20px; 
    }
 .carnet{
    width: 70px;
    margin-top: 20px;
}
}
@media screen and (max-width:480px){
}
